main{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

main section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 800px;
    margin: 50px 0px;
    box-shadow: 5px 5px #dddddd, 5px 5px #dddddd;
}

span{
    display: block;
    font-size: 10px;
    margin-left: 5px;
    color: #ff2200;
}

#register-form{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 90%;
    margin: 10px auto;
}

#register-form div{
    width: 100%;
    margin: 10px 0px;
}

#register-form div > input{
    width: 97%;
    height: 40px;
    margin: 10px 0px;
    background-color: #eeeeee;
    border: 0;
}

#register-form button{
    width: 97%;
    margin: 5% 0px;
}

/* Modal */

.modal{
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
}

.modal-container{
    width: 80%;
    margin: 10% auto;
    padding-left: 20px;
    background-color: #fefefe;
    border: 1px solid #888;
}

.modal-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    width: 95%;
    margin: 10px;
    background-color: #ff5500;
}

.modal-header > span, .modal-header > i{
    font-size: 6vw;
    margin: 10px 10px;
    color: #ffffff;
}

.close:hover, .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.modal-text{
    background-color: #ffffff;
    height: 100%;
    width: 95%;
    margin: 10px 10px;
}

.modal-text > span{
    display: block;
    font-size: 4vw;
    margin: 10px;
}

@media screen and (min-width: 480px){
    .modal-header span, .modal-header i{
        font-size: 29px;
    }

    .modal-text > span{
        display: block;
        font-size: 20px;
    }
}

@media screen and (min-width: 1024px) {
    #register-form div{
        width: 43%;
        margin: 10px 15px;
    }

    #register-form button{
        margin-top: 20px;
    }
}
