#sidebar{
    display: none;
}

.btn-search{
    width: 90%;
    height: 35px;
    padding: 10px;
    margin: 35px 0px 0px 10px;
    border: 1px solid #333;
    border-radius: 5px;
}

.menu{
    width: 80%;
    height: 200px;
    margin: 80px 0px 0px 20px;
}

.menu ul{
    margin-top: 30px;
    list-style: none;
}

.menu li{
    margin: 0px 0px 20px 5%
}

@media screen and (min-width: 768px){
    #sidebar{
        display: inline-block;
        width: 20%;
        max-width: 250px;
        background-color: #ccc;
    }
}

@media screen and (min-width: 1025px) {
    #sidebar{
        max-width: 350px;
    }
}