main{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

main section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 800px;
    margin: 50px 0px;
    box-shadow: 5px 5px #dddddd, 5px 5px #dddddd;
}

span{
    display: block;
    font-size: 10px;
    margin-left: 5px;
    color: #ff2200;
}

#register-form{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 90%;
    margin: 10px auto;
}

#register-form div{
    width: 100%;
    margin: 10px 0px;
}

#register-form div > input{
    width: 97%;
    height: 40px;
    margin: 10px 0px;
    background-color: #eeeeee;
    border: 0;
}

#register-form button{
    width: 97%;
    margin: 5% 0px;
}

@media screen and (min-width: 1024px) {
    #register-form div{
        width: 43%;
        margin: 10px 15px;
    }

    #register-form button{
        margin-top: 20px;
    }
}
