<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Sing up</title>
        <link rel="icon" href="../assets/logo.png">
        <link rel="stylesheet" type="text/css" href="../styles/reset.css">
        <link rel="stylesheet" href="../styles/styles.css">
        <link rel="stylesheet" href="../styles/header.css">
        <link rel="stylesheet" href="../styles/sidebar.css">
        <link rel="stylesheet" href="../styles/sing-up.css">
        <link rel="stylesheet" href="../styles/footer.css">
        <script src="../javascript/sign-up.js"></script>
        <script src="https://kit.fontawesome.com/8bedfba391.js" crossorigin="anonymous"></script>
    </head>
    <body>
        <header class="header">
            <div class="header-title">
                <i class="fa-solid fa-bars icon"></i>
                <h1>Trackgenix</h1>
            </div>
            <div class="header-list">
                <ul class="header-ul">
                    <li class="header-ul-li"><a href="#"><i class="fa-brands fa-facebook-square"></i></a></li>
                    <li class="header-ul-li"><a href="#"><i class="fa-brands fa-instagram"></i></a></li>
                    <li class="header-ul-li"><a href="#"><i class="fa-brands fa-twitter"></i></a></li>
                    <li class="header-ul-li"><a href="#"><i class="fa-brands fa-linkedin"></i></a></li>
                    <li class="header-ul-li"><a href="#"><i class="fa-brands fa-github"></i></a></li>
                </ul>
            </div>
        </header>
        <div class="container">
            <aside id="sidebar">
                <input type="search" name="search" placeholder="Search" class="btn-search">
                <div class="menu">
                    <h2>Menu</h2>
                    <ul>
                        <li><a href="index.html">Home</a></li>
                        <li><a href="employee-signup.html">Sig Up</a></li>
                        <li><a href="login.html">Log In</a></li>
                        <li><a href="#">Contact Info</a></li>
                    </ul>
                </div>
            </aside>
            <main>
                <section>
                    <h2>Register</h2>
                    <form id="register-form" action="">
                        <div>
                            <input id="firstName" placeholder="Name" type="text">
                            <span class="error"> </span>
                        </div>
                        <div>
                            <input id="lastName" placeholder="Last Name" type="text">
                            <span class="error"> </span>
                        </div>
                        <div>
                            <input id="dni" placeholder="DNI" type="text">
                            <span class="error"></span>
                        </div>
                        <div>
                            <input id="birth" placeholder="Date Of Birth (dd/mm/yyyy)" type="text">
                            <span class="error"></span>
                        </div>
                        <div>
                            <input id="phone" placeholder="Phone" type="text">
                            <span class="error"></span>
                        </div>
                        <div>
                            <input id="address" placeholder="Address" type="text">
                            <span class="error"></span>
                        </div>
                        <div>
                            <input id="location" placeholder="Location" type="text">
                            <span class="error"></span>
                        </div>
                        <div>
                            <input id="postal" placeholder="Postal Code" type="text">
                            <span class="error"></span>
                        </div>
                        <div>
                            <input id="email" placeholder="Email" type="email">
                            <span class="error"></span>
                        </div>
                        <div>
                            <input id="email2" placeholder="Repeat email" type="email">
                            <span class="error"></span>
                        </div>
                        <div>
                            <input id="password" placeholder="Passsword" type="text">
                            <span class="error"></span>
                        </div>
                        <div>
                            <input id="password2" placeholder="Repeat passsword" type="text">
                            <span class="error"></span>
                        </div>
                        <button type="submit" class="btn">Create</button>
                    </form>
                </section>
            </main>
        </div>
        <footer class="footer">
            <ul class="footer-ul">
                <li class="footer-ul-li"><a href="#"><i class="fa-brands fa-facebook-square"></i></a></li>
                <li class="footer-ul-li"><a href="#"><i class="fa-brands fa-instagram"></i></a></li>
                <li class="footer-ul-li"><a href="#"><i class="fa-brands fa-twitter"></i></a></li>
                <li class="footer-ul-li"><a href="#"><i class="fa-brands fa-linkedin"></i></a></li>
                <li class="footer-ul-li"><a href="#"><i class="fa-brands fa-github"></i></a></li>
            </ul>
            <p>Copyright &copy; 2022 Trackgenix. All rights reserved</p>
        </footer>
    </body>
</html>