<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Landing Page</title>
        <link rel="icon" href="../assets/logo.png">
        <link rel="stylesheet" type="text/css" href="../styles/reset.css">
        <link rel="stylesheet" href="../styles/styles.css">
        <link rel="stylesheet" href="../styles/header.css">
        <link rel="stylesheet" href="../styles/sidebar.css">
        <link rel="stylesheet" href="../styles/landing.css">
        <link rel="stylesheet" href="../styles/footer.css">
        <script src="https://kit.fontawesome.com/8bedfba391.js" crossorigin="anonymous"></script>
    </head>
    <body>
        <header class="header">
            <div class="header-title">
                <i class="fa-solid fa-bars icon"></i>
                <h1>Trackgenix</h1>
            </div>
            <div class="header-list">
                <ul class="header-ul">
                    <li class="header-ul-li"><a href="#"><i class="fa-brands fa-facebook-square"></i></a></li>
                    <li class="header-ul-li"><a href="#"><i class="fa-brands fa-instagram"></i></a></li>
                    <li class="header-ul-li"><a href="#"><i class="fa-brands fa-twitter"></i></a></li>
                    <li class="header-ul-li"><a href="#"><i class="fa-brands fa-linkedin"></i></a></li>
                    <li class="header-ul-li"><a href="#"><i class="fa-brands fa-github"></i></a></li>
                </ul>
            </div>
        </header>
        <div class="container">
            <aside id="sidebar">
                <input type="search" name="search" placeholder="Search" class="btn-search">
                <div class="menu">
                    <h2>Menu</h2>
                    <ul>
                        <li><a href="index.html">Home</a></li>
                        <li><a href="employee-signup.html">Sig Up</a></li>
                        <li><a href="login.html">Log In</a></li>
                        <li><a href="#">Contact Info</a></li>
                    </ul>
                </div>
            </aside>
            <main>
                <section id="info">
                    <div class="texto">
                        <h2>What is Trackgenix?</h2>
                        <p>
                            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ipsam quam quisquam esse, ducimus molestias, quae cupiditate obcaecati sed, nisi animi eius asperiores quas quidem ad distinctio atque velit impedit cum. Lorem ipsum dolor sit, amet consectetur adipisicing elit. Deserunt tempore delectus fugiat est fuga harum nisi quasi rem, veniam quas doloribus optio non officiis consectetur odit totam praesentium illum autem nulla maxime unde velit esse. Eius consectetur inventore temporibus id.
                        </p>
                        <a class="btn">Learn More</a>
                    </div>
                    <img alt="Laptop" src="../assets/first.jpg">
                </section>
                <section id="functionalities">
                    <h2>Functionalities</h2>
                    <div class="functions">
                        <div class="function">
                            <i class="fa-solid fa-pen"></i>
                            <div class="function-text">
                                <h3>Hours log</h3>
                                <p>
                                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestiae eligendi consequatur inventore asperiores illo atque at.
                                </p>
                            </div>
                        </div>
                        <div class="function">
                            <i class="fa-solid fa-folder"></i>
                            <div class="function-text">
                                <h3>Resource management</h3>
                                <p>
                                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestiae eligendi consequatur inventore asperiores illo atque at.
                                </p>
                            </div>
                        </div>
                        <div class="function">
                            <i class="fa-solid fa-file-lines"></i>
                            <div class="function-text">
                                <h3>Reports</h3>
                                <p>
                                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestiae eligendi consequatur inventore asperiores illo atque at.
                                </p>
                            </div>
                        </div>
                        <div class="function">
                            <i class="fa-solid fa-clipboard-check"></i>
                            <div class="function-text">
                                <h3>Multiple Roles</h3>
                                <p>
                                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestiae eligendi consequatur inventore asperiores illo atque at.
                                </p>
                            </div>
                        </div>
                    </div>
                </section>
                <section id="list">
                    <div>
                        <h2>Why Trackgenix?</h2>
                        <ul>
                            <li>Productivity booster</li>
                            <li>Work traceability</li>
                            <li>Leadership and team management</li>
                            <li>Decision making</li>
                        </ul>
                        <a class="btn">More</a>
                    </div>
                    <img alt="Workers" src="../assets/second.jpg">
                </section>
                <section id="help">
                    <h2>How can we help you?</h2>
                    <form>
                        <div class="inputs">
                            <input placeholder="Name" type="text">
                            <input placeholder="Email" type="email">
                            <select>
                                <option>Select Area</option>
                                <option>Human Resources</option>
                                <option>System</option>
                                <option>Commercialization</option>
                            </select>
                            <textarea placeholder="Enter your message"></textarea>
                        </div>
                        <button type="submit" class="btn-send">Send Message</button>
                        <button type="reset" class="btn">Reset</button>
                    </form>
                </section>
                <section id="history">
                    <div>
                        <h2>Our History</h2>
                        <p>
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Iste, consequuntur, beatae labore dolores a asperiores quo recusandae deserunt animi in iure non voluptatibus nulla accusamus dignissimos magnam, aperiam eius nobis!
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Explicabo nam excepturi voluptas voluptatibus fuga tempore, sit numquam veritatis sed. Accusantium tempora iure eaque cupiditate reiciendis eum nam ipsa eveniet magnam?
                        </p>
                    </div>
                    <img alt="Building" src="../assets/third.jpg">
                </section>
                <section id="lists">
                    <div>
                        <h2>Products</h2>
                        <ol>
                            <li><a href="#">Functionalities</a></li>
                            <li><a href="#">Downloads</a></li>
                            <li><a href="#">Integrations</a></li>
                            <li><a href="#">Additional features</a></li>
                        </ol>
                    </div>
                    <div>
                        <h2>Company</h2>
                        <ol>
                            <li><a href="#">About us</a></li>
                            <li><a href="#">Clients</a></li>
                            <li><a href="#">Resources</a></li>
                            <li><a href="#">Blog</a></li>
                        </ol>
                    </div>
                    <div>
                        <h2>Support</h2>
                        <ol>
                            <li><a href="#">Help</a></li>
                            <li><a href="#">Tutorials</a></li>
                            <li><a href="#">API</a></li>
                            <li><a href="#">Contact</a></li>
                        </ol>
                    </div>
                </section>
            </main>
        </div>
        <footer class="footer">
            <ul class="footer-ul">
                <li class="footer-ul-li"><a href="#"><i class="fa-brands fa-facebook-square"></i></a></li>
                <li class="footer-ul-li"><a href="#"><i class="fa-brands fa-instagram"></i></a></li>
                <li class="footer-ul-li"><a href="#"><i class="fa-brands fa-twitter"></i></a></li>
                <li class="footer-ul-li"><a href="#"><i class="fa-brands fa-linkedin"></i></a></li>
                <li class="footer-ul-li"><a href="#"><i class="fa-brands fa-github"></i></a></li>
            </ul>
            <p>Copyright &copy; 2022 Trackgenix. All rights reserved</p>
        </footer>
    </body>
</html>