<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Login</title>
        <link rel="icon" href="../assets/logo.png">
        <link rel="stylesheet" type="text/css" href="../styles/reset.css">
        <link rel="stylesheet" href="../styles/styles.css">
        <link rel="stylesheet" href="../styles/header.css">
        <link rel="stylesheet" href="../styles/sidebar.css">
        <link rel="stylesheet" href="../styles/login.css">
        <link rel="stylesheet" href="../styles/footer.css">
        <script src="../javascript/login.js"></script>
        <script src="https://kit.fontawesome.com/8bedfba391.js" crossorigin="anonymous"></script>
    </head>
    <body>
        <header class="header">
            <div class="header-title">
                <i class="fa-solid fa-bars icon"></i>
                <h1>Trackgenix</h1>
            </div>
            <div class="header-list">
                <ul class="header-ul">
                    <li class="header-ul-li"><a href="#"><i class="fa-brands fa-facebook-square"></i></a></li>
                    <li class="header-ul-li"><a href="#"><i class="fa-brands fa-instagram"></i></a></li>
                    <li class="header-ul-li"><a href="#"><i class="fa-brands fa-twitter"></i></a></li>
                    <li class="header-ul-li"><a href="#"><i class="fa-brands fa-linkedin"></i></a></li>
                    <li class="header-ul-li"><a href="#"><i class="fa-brands fa-github"></i></a></li>
                </ul>
            </div>
        </header>
        <div class="container">
            <aside id="sidebar">
                <input type="search" name="search" placeholder="Search" class="btn-search">
                <div class="menu">
                    <h2>Menu</h2>
                    <ul>
                        <li><a href="/views/index.html">Home</a></li>
                        <li><a href="/views/employee-signup.html">Sig Up</a></li>
                        <li><a href="/views/login.html">Log In</a></li>
                        <li><a href="#">Contact Info</a></li>
                    </ul>
                </div>
            </aside>
            <main>
                <section id="login-form">
                    <h2>Log in</h2>
                    <form action="">
                        <input id="email" placeholder="Email" type="text">
                        <span class="error"></span>
                        <input id="password" placeholder="Password" type="text">
                        <span class="error"></span>
                        <div>
                            <input type="checkbox"><label for="vehicle1">Remember Me</label>
                        </div>
                        <a href="#">Forgot password?</a>
                        <button type="submit" class="btn-send">Login</button>
                    </form>
                </section>
            </main>
        </div>
        <footer class="footer">
            <ul class="footer-ul">
                <li class="footer-ul-li"><a href="#"><i class="fa-brands fa-facebook-square"></i></a></li>
                <li class="footer-ul-li"><a href="#"><i class="fa-brands fa-instagram"></i></a></li>
                <li class="footer-ul-li"><a href="#"><i class="fa-brands fa-twitter"></i></a></li>
                <li class="footer-ul-li"><a href="#"><i class="fa-brands fa-linkedin"></i></a></li>
                <li class="footer-ul-li"><a href="#"><i class="fa-brands fa-github"></i></a></li>
            </ul>
            <p>Copyright &copy; 2022 Trackgenix. All rights reserved</p>
        </footer>
    </body>
</html>