*{
    font-family: 'Courier New', Courier, monospace;
}

h1{
    font-size: 36px;
    top: 32px;
    left: 50px;
    color: #000;
}

h2{
    font-size: 25px;
    text-align: left;
}

.btn{
    background-color: #fff;
    color: #ff5500;
    height: 40px;
    font-size: 20px;
    padding: 10px 10px;
    border-radius: 5px;
    border: 1px solid #ff5500;
}

.header{
    display: block;
    background-color: #fff;
    height: 100px;
    border-bottom: 5px solid #ff5500;
    width: 100%;
    clear: both;
}

.header h1, .header-ul-li, .icon{
    display: inline;
    position: relative;
}

.icon{
    font-size: 30px;
    top: 35px;
    left: 30px;
    color: #ff5500;
}

.header-ul{
    position: absolute;
    top: 60px;
    right: 20px;
}

.header-ul-li i{
    color: #000;
    font-size: 20px;
    margin-left: 20px;
}

.sidebar{
    float: left;
    height: 2180px;
    width: 15%;
    background-color: #ccc;
}

.btn-search{
    width: 90%;
    height: 35px;
    border: 1px solid #333;
    border-radius: 5px;
    margin: 35px 0px 0px 10px;
}

.menu{
    margin: 80px 0px 0px 20px;
    width: 80%;
    height: 200px;
}

.menu ul{
    margin-top: 30px;
}

.menu li{
    margin-bottom: 20px;
}

main{
    position: relative;
    left: 15%;
    width: 85%;
}

section{
    position: relative;
    margin: 50px 0px 50px 40px;
}

section:not(:last-child) {
    box-shadow: inset 0px -2px 0 0 #aaa;
}

#info{
    height: 400px;
    width: 95%;
}

#info h2{
    position: absolute;
    top: 40px;
}

#info p{
    width: 45%;
    position: absolute;
    top: 100px;
    left: 0px;
}

#info img{
    width: 525px;
    float: right;
}

#info .btn{
    position: absolute;
    left: 0px;
    bottom: 40px;
}

#functionalities{
    height: 280px;
    width: 95%;
}

#functionalities h2{
    position: absolute;
}

#functionalities div{
    display: inline-block;
    width: 40%;
    position: relative;
    top: 50px;
    margin-bottom: 30px;
    right: 15%;
}

#functionalities h3{
    display: inline;
    position: relative;
    left: 30px;
}

#functionalities p{
    width: 95%;
    position: relative;
    left: 30px;
}

#functionalities i{
    font-size: 75px;
    float: left;
}

#list{
    height: 400px;
    width: 95%;
}

#list h2{
    position: absolute;
    top: 80px;
}

#list ul{
    width: 45%;
    position: absolute;
    top: 120px;
    left: 15px;
}

#list img{
    width: 525px;
    float: right;
}

#list .btn{
    position: absolute;
    left: 0px;
    bottom: 80px;
}

#help{
    width: 95%;
    height: 310px;
    position: relative;
}

#help h2{
    position: absolute;
}

#help input, #help textarea, #help select{
    background-color: #fff;
    border-radius: 5px;
    border: 1px solid #bbb;
    padding: 10px 10px;
}

#help form{
    display: inline;
    position: absolute;
    top: 40px;
    left: 0px;
    width: 100%;
    height: 270px;
}

#help form input{
    width: 48%;
}

#help form select{
    width: 100%;
    position: relative;
    top: 15px;
}

#help form textarea{
    display: block;
    position: absolute;
    top: 105px;
    width: 98%;
    height: 40px;
    resize: none;
}

#help form .btn-send{
    position: absolute;
    top: 185px;
    display: block;
}

#help form .btn{
    position: absolute;
    top: 185px;
    left: 180px;
    display: block;
}

.btn-send{
    background-color: #ff5500;
    color: #fff;
    height: 40px;
    font-size: 20px;
    padding: 10px 10px;
    border-radius: 5px;
}

#history{
    width: 95%;
    height: 320px;
}

#history h2{
    position: absolute;
    top: 0px;
    left: 0px;
}

#history img{
    position: absolute;
    top: 30px;
    width: 550px;
    left: 0px;
}

#history p{
    display: block;
    position: absolute;
    width: 40%;
    left: 600px;
    top: 60px;
}

#lists{
    width: 95%;
    height: 120px;
    position: relative;
}

#lists div{
    display: inline-block;
    position: relative;
    top: 0px;
    width: 25%;
}

#lists ol{
    position: relative;
    left: 25px;
    margin: 10px 0px;
}

#lists li{
    margin: 5px 0px;
}

.footer{
    display: block;
    background-color: #fff;
    height: 100px;
    width: 100%;
    border-top: 5px solid #ff5500;
    clear: both;
    position: relative;
}

.footer-ul{
    top: 30px;
    left: 43%;
    display: inline;
    position: absolute;
}

.footer-ul-li{
    display: inline;
    position: relative;
}

.footer-ul-li i{
    color: #000;
    margin-left: 20px;
}

.footer p{
    font-weight: bold;
    position: absolute;
    top: 60px;
    left: 34%;
    display: inline-block;
}
