*{
    font-family: 'Courier New', Courier, monospace;
}

h2{
    font-size: 30px;
}

.btn{
    background-color: #fff;
    color: #ff5500;
    height: 40px;
    font-size: 20px;
    padding: 10px 10px;
    border-radius: 5px;
    border: 1px solid #ff5500;
}

.header{
    display: block;
    position: relative;
    background-color: #fff;
    height: 100px;
    left: 300px;
    border-bottom: 5px solid #ff5500;
}

.header h1, .header-ul, .header-ul-li, .icon{
    display: inline;
    position: relative;
}

.header h1{
    font-size: 36px;
    top: 32px;
    left: 70px;
    color: #000;
}

.icon{
    font-size: 30px;
    top: 35px;
    left: 30px;
    color: #ff5500;
}

.header-ul{
    top: 60px;
    left: 750px;
}

.header-ul-li i{
    color: #000;
    margin-left: 20px;
}

.sidebar{
    position: absolute;
    height: 2685px;
    width: 300px;
    left: 0px;
    top: 0px;
    background-color: #ccc;
}

.btn-search{
    width: 260px;
    height: 35px;
    border: 1px solid #333;
    position: relative;
    top: 35px;
    left: 20px;
}

.menu{
    position: relative;
    top: 150px;
    left: 20px;
}

.menu ul{
    position: relative;
    top: 40px
}

.menu li{
    margin-bottom: 20px;
}

#content{
    position: relative;
    left: 300px;
}

.section{
    position: relative;
    left: 50px;
    margin: 50px 0px;
}

#info{
    width: 1300px;
    height: 400px;
}

#info h2{
    display: inline;
    position: absolute;
    top: 60px;
}

#info p{
    display: inline-block;
    width: 600px;
    position: relative;
    bottom: 95px;
}
#info .btn{
    position: relative;
    bottom: 30px;
    right: 610px;
}

#info img{
    width: 525px;
}

.functions{
    display: inline-block;
    width: 645px;
    position: relative;
    top: 40px;
    margin-bottom: 30px;
}

.functions h3{
    display: inline;
    position: relative;
    left: 30px;
}

.functions p{
    width: 450px;
    position: relative;
    left: 30px;
}

.functions i{
    font-size: 75px;
    float: left;
}

#list{
    width: 1300px;
    height: 400px;
}

#list h2{
    display: inline;
    position: absolute;
    top: 80px;
}

#list ul{
    display: inline-block;
    width: 400px;
    position: relative;
    bottom: 130px;
    left: 15px;
}

#list img{
    width: 525px;
    position: relative;
    top: 0px;
    left: 250px;
}

#list .btn{
    position: relative;
    right: 410px;
    bottom: 60px;
}

#help{
    width: 1300px;
    height: 295px;
}

.btn-send{
    background-color: #ff5500;
    color: #fff;
    height: 40px;
    font-size: 20px;
    padding: 10px 10px;
    border-radius: 5px;
}

.form-style{
    background-color: #fff;
    border-radius: 5px;
    border: 1px solid #bbb;
    padding: 10px 10px;
}

.form input{
    position: relative;
    width: 600px;
    margin: 0 20px 0 0;
    top: 30px;
}

.form select{
    display: block;
    position: relative;
    top: 40px;
    width: 1275px;
}

.form textarea{
    display: block;
    position: relative;
    top: 60px;
    width: 1255px;
    height: 40px;
    resize: none;
}

.form .btn-send{
    position: relative;
    top: 80px;
}

.form .btn{
    position: relative;
    top: 80px;
}

#history{
    width: 1300px;
    height: 320px;
}

#history h2{
    position: relative;
    top: 0px;
    left: 0px;
}

#history img{
    position: relative;
    top: 30px;
    width: 550px;
}

#history p{
    display: block;
    position: relative;
    width: 650px;
    left: 600px;
    bottom: 140px;
}

#lists{
    width: 1300px;
    height: 200px;
}

#lists div{
    display: inline-block;
    margin: 0px 110px;
    position: relative;
    top: 30px;
}

#lists div ol{
    position: relative;
    left: 20px;
    top: 20px
}

#lists div li{
    margin: 10px;
}

.footer{
    display: block;
    position: relative;
    background-color: #fff;
    height: 100px;
    left: 300px;
    border-top: 5px solid #ff5500;
}

.footer-ul, .footer-ul-li{
    display: inline;
    position: relative;
}

.footer-ul{
    top: 30px;
    left: 544px;
}

.footer-ul-li i{
    color: #000;
    margin-left: 20px;
}

.footer p{
    font-weight: bold;
    position: relative;
    top: 50px;
    left: 444px;
}
