/* Body */

main{
    width: 100%;
}

main section {
    height: auto;
    padding: 30px 0px;
}

#info, #functionalities, #list, #help, #history, #lists{
    width: 90%;
    margin: 30px auto;
    z-index: 0;
}

#info, #list, #history, #lists{
    display: flex;
    flex-direction: column;
}

/* What is trackgenix */

.texto h2, .texto p{
    margin: 20px 20px 0px 0px;
    text-align: left;
}

#info .texto{
    order: 1;
}

.texto .btn{
    display: none;
}

#info img{
    width: 100%;
    order: 0;
}

/* Functionalities */

#functionalities{
    display: flex;
    flex-direction: column;
}

.function{
    width: 100%;
    margin: 25px auto;
}

.function i{
    font-size: 35px;
    text-align: center;
    margin: 10px 0px;
    width: 10%;
}

/* Why Trackgenix */

#list{
    padding: 10px 0px;
}

#list img{
    order: 0;
}

#list div{
    order: 1;
    margin-top: 10px;
}

#list h2, #list ul, #list .btn{
    margin: 10px 0px;
}

#list ul{
    margin-left: 5%;
}

/* How can we help you */

#help{
    padding-bottom: 20px;
}

#help .inputs{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 10px 0px;
}

#help form input, #help form select, #help form textarea{
    width: 100%;
    padding: 10px 10px;
    margin: 10px 0px;
}

/* Our history */

#history img{
    order: 0;
}

#history div{
    order: 1;
    margin: 20px 0px;
}

#history div p{
    margin-top: 10px;
}


/* Listas */

#lists div {
    margin: 15px 0px;
}

#lists li{
    margin: 10px 0px;
}

@media screen and (min-width: 481px){
    .texto .btn{
        display: inline;
        margin: 20px 0px;
        text-align: left;
    }

    #lists{
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
    }

    #lists div{
        min-width: 220px;
    }
}

@media screen and (min-width: 768px){
    main{
        width: 80%;
    }
}

@media screen and (min-width: 1025px) {
    #info{
        flex-direction: row;
    }

    #info .texto{
        order: 0;
        width: 80%;
    }

    #info img{
        order: 1;
    }

    #functionalities .functions{
        display: flex;
        flex-wrap: wrap;
    }

    .function{
        display: flex;
        align-items: center;
        width: 45%;
        margin: 20px 10px;
    }

    .function i{
        width: 30%;
        margin: 10px;
    }

    #help form input{
        width: 45%;
    }

}
